header {
  padding: 15px;
  height: 69.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > img {
  width: 32px;
  height: 32px;
}

header > p {
  font-size: 32px;
  margin: 0 16px;
}
